{% extends 'store/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Усі відеокарти</h2>
    <div class="row">
        {% for gpu in gpus %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ gpu.image.url }}" class="card-img-top" alt="{{ gpu.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ gpu.name }}</h5>
                    <p class="card-text"><strong>Пам’ять:</strong> {{ gpu.memory }} GB</p>
                    <p class="card-text"><strong>Ціна:</strong> {{ gpu.price }} грн</p>
                    <p class="card-text">
                        <strong>Статус:</strong>
                        {% if gpu.is_available %}
                            <span class="badge bg-success">В наявності</span>
                        {% else %}
                            <span class="badge bg-danger">Немає в наявності</span>
                        {% endif %}
                    </p>
                    <form method="post" action="{% url 'add_to_cart' gpu.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="redirect_to" value="checkout">
                        <button type="submit" class="btn btn-success">Купити</button>
                    </form>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}