{% extends 'store/base.html' %}

{% block title %}
    {% if gpu.brand %}
        {{ gpu.brand.name }} {{ gpu.model }}
    {% else %}
        {{ gpu.model }}
    {% endif %}
{% endblock %}

{% block content %}
<h2>
    {% if gpu.brand %}
        {{ gpu.brand.name }} {{ gpu.model }}
    {% else %}
        {{ gpu.model }}
    {% endif %}
</h2>

<ul class="list-group">
    <li class="list-group-item"><strong>Памʼять:</strong> {{ gpu.memory_gb }} GB ({{ gpu.memory_type }})</li>
    <li class="list-group-item"><strong>Core Clock:</strong> {{ gpu.core_clock_mhz }} MHz</li>
    <li class="list-group-item"><strong>Boost Clock:</strong> {{ gpu.boost_clock_mhz|default:"-" }} MHz</li>
    <li class="list-group-item"><strong>Наявність:</strong> {{ gpu.is_available|yesno:"Так,Ні" }}</li>
    <li class="list-group-item"><strong>Ціна:</strong> {{ gpu.price }} грн</li>
    <li class="list-group-item"><strong>Бренд:</strong> 
        {% if gpu.brand %}
            <a href="{% url 'brand_detail' gpu.brand.id %}">{{ gpu.brand.name }}</a>
        {% else %}
            <span>Без бренду</span>
        {% endif %}
    </li>
</ul>

{% if gpu.is_available %}
<form action="{% url 'add_to_cart' gpu.id %}" method="post" class="mt-4">
    {% csrf_token %}
    <button type="submit" class="btn btn-success btn-lg">Купити</button>
</form>
{% endif %}
{% endblock %}
