{% extends 'store/base.html' %}
{% load humanize %}

{% block title %}Список відеокарт{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Відеокарти</h2>

    <div class="row">
        {% for gpu in gpus %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if gpu.image %}
                <img src="{{ gpu.image.url }}" class="card-img-top" alt="{{ gpu.model }}" style="max-height: 200px; object-fit: contain;">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">
                        <a href="{% url 'gpu_detail' gpu.id %}">
                            {% if gpu.brand %}
                                {{ gpu.brand.name }}
                            {% else %}
                                Без бренду
                            {% endif %}
                            {{ gpu.model }}
                        </a>
                    </h5>
                    <p class="card-text">
                        <strong>Памʼять:</strong> {{ gpu.memory_gb }} GB<br>
                        <strong>Ціна:</strong> {{ gpu.price|intcomma }} грн<br>
                        <strong>Наявність:</strong> {{ gpu.is_available|yesno:"Так,Ні" }}<br>
                        <strong>Бренд:</strong>
                        {% if gpu.brand %}
                            <a href="{% url 'brand_detail' gpu.brand.id %}">{{ gpu.brand.name }}</a>
                        {% else %}
                            <span>Без бренду</span>
                        {% endif %}
                    </p>
                    <a href="{% url 'gpu_detail' gpu.id %}" class="mt-auto btn btn-primary w-100">Детальніше</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="col-12">
            <p>Наразі відеокарти недоступні.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
