{% extends 'store/base.html' %}

{% block title %}
<title>Головна сторінка</title>
{% endblock %}

{% block content %}
<h1>Головна сторінка</h1>
    <ul>
        <li><a href="{% url 'view1' %}">Список відеокарт</a></li>
        <li><a href="{% url 'view2' %}">Інформація про відеокарту</a></li>
        <li><a href="{% url 'view3' %}">Бренди відеокарт</a></li>
        <li><a href="{% url 'view4' %}">Корзина</a></li>
        <li><a href="{% url 'view5' %}">Оформлення замовлення</a></li>
    </ul>
{% endblock %}


